body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #acace6;
}

.boxOne {
    display: flexbox;
    background-color: #ffff;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 68vh;
    margin-left: 300px;
    border-radius: 8px;
    margin-top: 50px;
}

img {
    width: 100%;
    height: 50%;
    object-fit: cover; /* Fits the image to the container */
    flex-shrink: 0;
    object-position: top;
    align-items: flex-start;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

    
}

.headerBox {
    display: flexbox;
    background-color: #fdf3d3;
    height: 4vh;
    width: 30vh;
    text-align: center;
    position: relative; /* This makes the header box relative to the container */
    left: -10px; /* This moves the header box to the left */
    top: -195px; /* This moves the header box up */
    border-radius: 10px;
    padding-top: 4px;
    border-top-right-radius: 50px; /* This makes one edge of the container curved */
    border-bottom-right-radius:50px;
}

h2 {
   margin-top: 0px;
   margin-bottom: 0px;
}

pre{
    margin-left:8px;
    margin-top: 2px;
    margin-bottom: 8px;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.seriesFive {
    font-size: small;
    color:#797c7a;
}