 @font-face {
    font-family: lato;
    src: url(lato_code.zip);
 }
 
 body {
    font-family: lato;
 }
 
 
 nav {
    display: flex;
    justify-content: space-between;

 }

 .containerOne {
    margin-top: 28px;
    margin-left: 40px;
    width: 1360px;
 }

 .containerOne hr {
    width: 1358px;
    height: 2px;
    margin-top: 19px;
   background-color: #E0E6EA;
    border: none;
 }

 .containerOne li {
    list-style:none;
    display: inline-block;
   margin-right: 50px;
 }

.containerOne img {
    background: none;
}

 .download {
    width: 65px;
    font: lato;
    font-weight: 700;
    font-size: 14px;
    padding-left:10px ;
    color: #1D2C3C;

 }

 .learn {
    width: 71px;
    font: lato;
    font-weight: 700;
    font-size: 14px;
    color: #1D2C3C;


 }

 .pricing {
    width: 43px;
    font: lato;
    font-weight: 700;
    font-size: 14px;
    color: #1D2C3C;

    
 }

 .help {
    width: 30px;
    font: lato;
    font-weight: 700;
    font-size: 14px;
    color: #1D2C3C;

    
 }

 .account {
    width: 52px;
    font: lato;
    font-weight: 700;
    font-size: 14px;
    color: #1D2C3C;

    
 }



 .theMainBox {
    display: flex;
    align-items: center;
    margin-top: 70px;
    
 }

 .theWhiteBox {
    display: flexbox;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 0 rgba(54, 52, 52, 0.2);
    padding: 20px;
    margin-left: 262px;
    width: fit-content;
    height: 795px;
    box-shadow: #011302;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

 .checkout {
    width: 580px;
    height: 30px;
    font: lato;
    font-size: 30px;
    font-weight: 400;
    color: #1D2C3C;
    line-height: 36px;
    text-shadow: 0px 4px 4px 0px #00000040;
    margin-left: 41px;

    
 }

 

 .informationSection {
    width: 580px;
    height: 221px;
    margin-left: 41px;

 }

 .numbers {
    width: 20px;
    height: 20px;
    border: 2px solid #548BC5;
    color: #548BC5;
    border-radius: 50%;
    display: inline-block;
    padding: 4px;
    padding-bottom: 4px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    font: lato;
    
 }

 .informationSection h2 {
    width: 260px;
    height: 34px;
    font-size: 18px;
    font-weight: 700;
    color: #1D2C3C;

 }

 .formContainer {
    display: flex;
   flex-wrap: wrap;
   border-radius: 5px;
   justify-content: space-between;
   margin-top: 12px;
   margin-left: 3px;
    gap: 4px;
   width:476px;
   padding-right: 42px;
 
}

.inputBox {
 width: calc(50% - 20px);
 margin-bottom: 20px;

 
}

.formContainer label {
    font: lato;
    font-weight: 400;
    font-size: 14px;
    color: #1D2C3C;
}

.inputBox ::placeholder {
    font: lato;
    color: #646E7A;
    font-weight: 400;
    font-size: 14px;
    padding-left: 10px;
}

.inputBox .firstName {
    width: 227px;
    height: 36px;
    margin-top: 10px;
    background-color: #EDEFF2;
    border: none;
    border-radius: 4px;
    outline: none;
}

.inputBox .lastName {
    width: 226px;
    height: 36px;
    margin-top: 10px;
    background-color: #EDEFF2;
    border: none;
    border-radius: 4px;
    outline: none;
    
}

.inputBox .email {
    width: 370px;
    height: 36px;
    margin-top: 10px;
    background-color: #EDEFF2;
    border: none;
    border-radius: 5px;
    outline: none;
    
}

.theWhiteBox hr {
    background-color: #F5F7FA;
    width: 580px;
    height: 2px;
    border: none;
}

.paymentSection {
    width: 580px;
    height: 154px;
    margin-top: 40px;
    margin-bottom: -10px;
    margin-left: 41px;
}

.paymentSection h2 {
    width: 300px;
    height: 22px;
    font-size: 18px;
    font-weight: 700;
    color: #1D2C3C;
    margin-bottom: 25px;
    font: lato;
}

.formContainerTwo {
    display: flex;
   
}

.creditCard {
    width: 380px;
    height: 36px;
    margin-top: 10px;
    background-color: #EDEFF2;
    border: none;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
}

.datetime {
    width: 70px;
    height: 36px;
    border: none;
    background-color: #EDEFF2;
    outline: none;
    margin-left: 114px;
    margin-top: 28px;
}

.thecvc {
    width: 65px;
    height: 36px;
    border: none;
    outline: none;
    background-color: #EDEFF2;
    height: 36px;
    margin-left: -83px;
    margin-top:  28px;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

button {
    background-color: #038E7D;
    text-align: center;
    width: 483px;
    height: 52px;
    color: white;
    margin-top: 40px;
    border: none;
    cursor: pointer;
    margin-left: 41px;
    border-radius: 5px;
}

  

.svgAndText {
    margin-left: 120px;
    width: 333px;
    

}
.spanOne {
    color: #646E7A;
}

 .spanTwo {
    text-decoration: underline;
    text-decoration-color: #646E7A;

}

.stripeText {
    background-color: #bec5cc;
   margin-left: 245px;
    width: 150px;
    text-align: center;
    height: 20.1px;
    border-radius: 4px;
}




.theBlueBox {
    background-color: #1179BF;
    color: rgb(233, 230, 230);
    padding: 14px 20px;
    border-radius: 5px;
    width: 400px;
    height: 807px;
    margin-right: 100px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
    
}

a {
    text-decoration: none;
}



.linkTwo {
    text-decoration: underline;
    color: white;
    text-decoration-color:#B9F5FF;
    text-decoration-style: solid;
    
}

.firstParagraph {
    width: 93px;
    font: lato;
    font-size: 20px;
    font-weight: 700;
}

.secondParagraph {
    font-style: italic;
    margin-top: 2px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    width: 229px;
    font: lato;
    margin-bottom: 30px;
}

  .thirdParagraph {
    margin-top: 40px;
    font-size: 16px;
  }
.money {

    height: 72px;
    font-family: lato;
    margin-top: auto;
    font-size: 60px;
    font-weight: 300;
    margin-bottom: 15px;
}

.money span {
    font-size: 60px;
    font-weight: 300;
    line-height: 72px;

}

sup {
    font-size: 18px;
    font-family: lato;
    font-weight: 700;
}

sub {
    font-size: 24px;
    font-family: lato;
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    

}

.theBlueBox svg {
    width: 20px;
    height: 20px;
    top: 27px;
    color: #B9F5FF;
    
}

.theBlueBox hr {
    width: 224px;
    height: 2px;
    border: none;
    background-color: #B9F5FF;
    margin-top: 30px;
    opacity: 20.5%;
}

.ftp {
    width: 227px;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.theBlueBox img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.kirkBeard {
    width: 100px;
    font-size: 16px;
    font-weight: 700;
    margin-top: -35px;
    margin-left: 50px;
}

footer {
    text-align: center;
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 400;
    font: lato;
    margin-top: 100px;
    color: #646E7A;
    margin-left: 300px;
    width: 867px;
}

footer a  {
    color: #1b6ead;
}

/*@media screen and (max-width: 324px) {

    .body {
        width: 320px;
        margin: 0;
        padding: 0;
    }
    .theMainBox {
        flex-direction: column;
        padding: 10px;
        margin-bottom: 20px;
    }

    .theWhiteBox {
        width: 320px;
        margin-left: 0;
    }
    .theBlueBox {
        width: 100%;
        margin-right: 0;
        padding: 0;
    }
    .inputBox {
        width: 40px;
        width: calc(50% - 10px);
    }

   



    .containerOne {
        width: 100%;
        margin-left: 0;
    }

    .containerOne hr {
        width: 100%;
    }
} */

/*@media screen and (max-width: 584px) {
   .theMainBox {
    flex-direction: column;
   }

    .theWhiteBox {
     width: 320px;
     margin: 0;
    }

   .containerOne hr {
    margin: 0;
    width: 320px;
   }

   button {
    width: 100%;    
    margin-left: 0;
   }

   .theBlueBox {
    width: 100%;
    margin-right: 0;
    padding: 0;
    overflow: hidden;
   }

   .theWhiteBox {
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    width: 320px;
    flex: 1;
   }

   .paymentSection {
    width: 300px;
    margin-left: 0px;
   }

   .creditCard {
    width: 200px;
   }
   .thecvc {
    width: 50px ;
    margin-left: 0px;
    
   }
   .datetime {
    width: 120px;
    margin-left: 0px;
   }

   .firstName {
    width: 140px;
   }
   .inputBox .firstName {
    width: 100%;
   }
    
   .email {
    width:  px;
   }

  .informationSection {
    display: inline-block;
    width: 150px;
    margin-left: 0px;
  }
   
}

